%styles {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="" fill="currentColor"/></svg>');
  mask-size: cover;
  background-color: currentColor;
  position: absolute;
  right: 8px;
  width: 18px;
  height: 18px;
}

@mixin nolabel($content, $svg) {
  &::before {
    content: $content;
  }
  &::after {
    @include direct($svg);
  }
  > [class*='label_'] {
    display: none;
  }
}

@mixin label($svg) {
  > [class*='label_']::after {
    @include direct($svg);
  }
}

@mixin direct($svg) {
  &::after {
    @extend %styles;
    mask: url('data:image/svg+xml;utf8,' + $svg);
  }
}
